$white: #ffffff;
$basic-black: #000000;
$smoke-black: #111111;
$basic-green: #68b738;
$special-green: #5eaa2f;
$basic-gray: #f2f2f2;
$special-gray: #cdcdcd;
$light-gray: #eaeaea;
$btn-gray: #ebebeb;
$smoke-gray: #666666;
$space-gray: #444444;
$dark-gray: #222222;
$contact-gray: #111111;
$border-gray: #d9d9d9;
$about-gray: #e6e6e6;
$plus-gray: #d3d3d3;
$input-gray: #e7e7e7;
$hover-gray: #bababa;
$slider-gray: #dcdcdc;
$red: #ff8282;

$font-family: "Arial", "Tahoma", sans-serif;
$additional-font-family: "Oswald", "Arial", "Tahoma", sans-serif;

$font-size: 14px;
$line-height: 18px;
$font-weight: 400;
$font-color: $space-gray;

$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 110px;
$min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
$max-width: 1440px;
