.additional-card__wrapper {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.additional-card {
  padding: 15px 0 19px;
  border-bottom: 1px solid $border-gray;

  &:first-child {
    border-top: 1px solid $border-gray;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 36px;
    border: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 244px;
    column-gap: 38px;
    justify-content: space-between;
    padding: 15px 0 17px;
    border: none;
    border-bottom: 1px solid $border-gray;
  }
}

.additional-card__title {
  font-family: $additional-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-gray;

  @include style-reset;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.additional-card__info {
  display: flex;
  justify-content: space-between;
}

.additional-card__btn {
  margin: 0 auto;
}

.additional-card__volume,
.additional-card__price {
  line-height: 14px;

  @include style-reset;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-card__price {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
