.main__wrapper {
  width: 100%;
  padding: 0;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 $padding-tablet;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 $padding-desktop;
    margin-bottom: 100px;
  }
}

.main__heading {
  @include style-reset;

  padding: 30px $padding-mobile 38px;
  font-family: $additional-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 57px 0 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0 0;
    margin-bottom: 98px;
  }
}

.main__heading--form {
  margin: 30px 0 37px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
    margin-bottom: 56px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 68px;
  }
}

.main__description {
  font-family: $additional-font-family;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;

  @include style-reset;
  margin: 0 auto 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 66px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main__catalog-list {
  @include list-reset;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 65px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.main__product-card {
  border-top: 1px solid $border-gray;
  padding: 21px 20px 29px;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    justify-content: flex-end;
  }

  // &:first-child {
  //   border-top: none;
  // }
}
