.mini-promo {
  display: block;
  width: 280px;
  height: 290px;
  background-image: url("../img/promo/mini-promo.png");
  background-repeat: no-repeat;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 82px;
    height: 80px;
    background-image: url("../img/promo/promo-cart.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 58px;
    left: 101px;
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 200px;
    background-image: url("../img/promo/mini-promo-tablet.png");

    &::before {
      left: 77px;

      @media (min-width: $desktop-width) {
        left: 83px;
        top: 55px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 245.02px;
    height: 288.9px;
    background-image: url("../img/promo/mini-promo-desktop.png");
  }
}

.mini-promo p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  position: absolute;
  top: 186px;
  left: 58px;
  width: 161px;

  @include style-reset;

  @media (min-width: $tablet-width) {
    text-align: left;
    top: 71px;
    left: 422px;
  }

  @media (min-width: $desktop-width) {
    top: 184px;
    left: 40px;
    text-align: center;
  }
}
