.page {
  height: 100%;
}

.page__body {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__wrapper {
  width: 100%;
  padding: 0 $padding-mobile;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding: 0 $padding-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 0 $padding-desktop;
  }
}

.page__header {
  // margin-bottom: 27px;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    // margin-bottom: 64px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    // margin-bottom: 74px;
    padding-top: 54px;
  }
}

.page__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}
